#header{
    background: #FFFFFF;
}
.buttonA{
    width: 160px;
    height: 54px;
    left: 1212px;
    top: 40px;
    background: #494949;
    border-radius: 27px;
    border: none;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 10px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
    border:2px solid #333333;
    background: none;
    color: #333333;
}
a{
    text-decoration: none;
}
#header{
    width: 100%;
    position: fixed;
    z-index: 10;
    background: #FFFFFF;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.logoTip{
    font-weight: 500;
    font-size: 26px;
    color: #333333;
}
.aHre{
    margin: 0 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #2C3847;
}
.aHre:hover{
    color: #5FB848;
}
.search{
    width: 24px;
    height: 24px;
    left: 1117px;
    top: 57px;
    color: #181D19;
    cursor: pointer;
}
.basket{
    width: 24px;
    height: 24px;
    left: 1117px;
    top: 57px;
    color: #181D19;
    cursor: pointer;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}